include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section
          section.mainsection
            .container.mainsection__container
              header.mainsection__header
                .mainsection__logo
                  .logo ПК
                .mainsection__menu
                  nav.nav
                    - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
                    ul.nav__list
                      each item in menu
                        li.nav__item
                          a(href="").nav__link #{item}
                .mainsection__links
                  - var icons = ['insta', 'vk', 'github']
                  ul.socials__list
                    each item in icons
                        li.solials__item
                          a(href="").socials__link
                            +icon(`${item}`, 'socials__icon')
              .mainsection__content
                .user-info
                  h1.user-info__desc Личный сайт<br> веб разработчика
                  .user-info__name Перизат<br>Кожагельдина
              .mainsection__btns
                .scroll-down-btns
                  .scroll-text Скролл
                  +icon('scroll', 'scroll-icon')
          section.about
            .container.about__container
              .about__left
                .user
                  .avatar.user__avatar
                    +image("content/perizat.png", "avatar__pic")
                  ul.user__desc
                    - 
                      var items = [
                        ['Проживаю', 'Астана'],
                        ['Возраст', '26'],
                        ['Родилась', '15 апреля 1993'],
                      ]
                    each item in items
                      li.user__desc-item
                        .user__key #{item[0]}:&nbsp 
                        .user__value #{item[1]}
              .about__right
                h4.about__title Привет, меня зовут
                h2.about__name Перизат Кожагельдина
                .about__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .triangles
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0, 0 0, 100 1000, 100")
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0, 100 1000, 100 1000, 0")
        section.values
          .container.values__container
            h2.section-title.values__title Чем я могу быть полезен вам
            .values__desc
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          ul.user-skills
            -
              var skills = [
                ['Frontend', ['HTML5', 'CSS3', 'Javascript', 'Jquery и Vue.js']],
                ['Workflow', ['GIT', 'Terminal'], 'Gulp', 'Webpack']
              ]
            each item in skills
              li.user-skills__item.skills-row
                h3.skills-row__title #{item[0]}
                ul.skills-row__list
                  each skill in item[1]
                    li.skills-row__item
                      .skill
                        svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                          circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position-under
                          circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position-above
                          linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="100%")
                            stop(offset="0%" stop-color="#9300e8")
                            stop(offset="100%" stop-color="#4a00ed")
                        .skill__title #{skill}
        section.works
          .container
            h2.section-title Мои Работы
            .works__content.slider
              .slider__left
                .slider__photo
                  +image('content/mainslide.png', 'slider__fullpic')
                .slider__preview
                  ul.previews 
                    - var sliderImages = ['content/slide1.png', 'content/slide2.png', 'content/slide3.png']
                      li.previews__items
                        each sliderImage in sliderImages
                          +image(`${sliderImage}`, 'previews__pic')
                .slider__btns
                  .slider-buttons
                    button.slider-button.slider-button--slide--prev
                      +icon('arrow-down', 'prev__icon')
                    button.slider-button.slider-button--slide--next
                      +icon('arrow-down', 'prev__icon prev__icon--next')
              .slider__right
                .works__tags.tags-block
                  - var tags = ['html', 'css', 'javascript']
                  ul.tags__list
                    each tag in tags
                      li.tags__item #{tag}
                .works__text
                  h3.works__title Сайт школы образования
                  .works__desc-text
                    p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                  a.viewlink
                    +icon("link", "viewlink__icon")
                    .viewlink__text Посмотреть сайт
        .triangles.triangles--lightblue
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0, 0 0, 100 1000, 100")
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0, 100 1000, 100 1000, 0")
        .budda-section
          section.reviews
            .container
              .reviews__title.section-title Что обо мне говорят
              .column-slider
                .quote
                  +icon('quote', 'quote-icon')
                .column-slider__left
                  .column-slider__text
                    p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                  .column-slider__member.member
                    .avatar.member__avatar
                      +image("content/dima.png", "avatar__pic")
                    .member__info
                      .member__name Ковальчук Дмитрий
                      .member__position Основатель Loftschool
                .quote
                  +icon('quote', 'quote-icon')
                .column-slider__right
                  .column-slider__text
                    p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                  .column-slider__member.member
                    .avatar.member__avatar
                      +image("content/vova.png", "avatar__pic")
                    .member__info
                      .member__name Владимир Сабанцев
                      .member__position Преподаватель
                .column-slider__btns
          section.contacts
            .container
              .contacts__title.section-title Связаться со мной
              .contacts__form
                form.form-elem
                  .form__row
                    label.form__block
                      .form__title Введите ваше имя
                      .input-block
                        .input-icon
                          +icon('user', 'form-icon')
                        input.form__input(type="text")   
                    label.form__block
                      .form__title Введите ваш email
                      .input-block
                        .input-icon
                          +icon('envelope', 'form-icon')
                        input.form__input(type="text")
                  .form__row
                    label.form__block
                      .form__title Сообщение к письму
                      .input-block
                        .input-icon
                          +icon('message', 'form-icon')
                        input.form__input(type="text")
                  button.form__btn Отправить
          footer.footer
            .container.footer__container
              .footer__first
                .footer__year &copy 2019
                .footer__user Перизат<br> Кожагельдина
                .footer__desc Личный сайт<br> веб-разработчика
              .footer__second
                nav.footer-nav
                  ul.footer-nav__list
                    each link in menu
                      li.footer-nav__item
                        a(href="").footer-nav__link #{link}
                .footer__text
                  .footer__info
                    .footer__prolog Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                    ul.footer__socials
                      each item in icons
                        li.footer__item
                          a(href="").footer__link
                            +icon(`${item}`, 'footer__icon')
                  .footer__advice
                    .advice__text
                      p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    .advice__author Martin Golding
                  

